<section>

  <img src="<%= book.img_url %>" alt="">
    <h3><%= book.title %></h3>
    <h3><%= book.author %></h3>
    <h3><%= book.isbn %></h3>
    <p><%= book.description %></p>

</section>

<button class="buttonupdate">Update Details</button>
  
<form action="/books/<%= book.id %>?_method=DELETE" method="POST" id="deletebutton">
  <input type="submit" value="delete book">
</form>