<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
 <body>
  <%- include('../../layout/header') %>
  <h1>Results</h1>
  <% newBookArr %>
  <ul>
    <% for(let i =0; i < newBookArr.length; i++) {%>
    <li>
      <img src ="<%= newBookArr[i].img_url %>" alt="">
      <h2><%= newBookArr[i].title %></h2>
      <h2><%= newBookArr[i].author %><h2>
        <p><%= newBookArr[i].isbn %></p>
        <p><%= newBookArr[i].description %></p>
    </li>
  
    <form action="/books" method="POST">
      <fieldset>
        <label for="addbook">Add another book to your collection:</label>
        <input type="hidden" name="img_url" value="<%= newBookArr[i].img_url %>"></input>
        <input type="hidden" name="title" value="<%= newBookArr[i].title %>"></input>
        <input type="hidden" name="author" value="<%= newBookArr[i].author %>"></input>
        <input type="hidden" name="isbn" value="<%= newBookArr[i].isbn %>"></input>
        <input type="hidden" name="description" value="<%= newBookArr[i].description %>"></input>
      <input type="submit" value="Save this book">
      </fieldset>
    </form>
    <% } %>
  </ul>
  <%- include('../../layout/footer') %>
</body>
</html>