<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>

  <main>
    <h2>Book Collection: You have <%= books.length %> books</h2>
    <% books.forEach(book => { %>
     <%- include('books/details', {book:book}) %>
    <% }) %>

  </main> 

  <%- include('../layout/footer') %>

</body>
</html>